<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Products Management <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/" routerLinkActive="active" class="menu-item">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active" class="menu-item">Products</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

                   
  