<div class="home-container">
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Product Management</div>
                <div class="intro-heading text-uppercase">technical assessment for Conocimiento Corporativo</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" target="_blank" href="https://co.linkedin.com/in/wilson-arboleda-12082b124"><span class=" glyphicon glyphicon-user" aria-hidden="true"></span> Developed by Wilson Arboleda</a>
            </div>
        </div>
    </header>
</div>